NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_SIGN_IN_URL=/sign-in
CLERK_SIGN_UP_URL=/sign-up
CLERK_AFTER_SIGN_IN_URL=/
CLERK_AFTER_SIGN_UP_URL=/
NEXT_PUBLIC_APP_URL=https://jd.texmg.com
CLAIM_RECORDS_DIR=/app/data/claim-records
CLAIM_RECORDS_HOST_DIR=./data/claim-records
